# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*

# -------------------------
# ChromaDB
# -------------------------
data/chroma_db/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# Python Tooling
# -------------------------
.pytest_cache/
.mypy_cache/